.HotelDetails h3, img{
    padding: 5px;
    font-size: medium;
    font-weight: light;
}

.HotelName{
    margin-top: 10px;
}

.DetailsToComplete{
    display: flex;
    flex-direction: column;
}
.DetailsToComplete div{
    margin-top:5px;
}
.TravellersData, .RoomsData{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
