.SearchButton{
    width: 10%;
    padding:15px 5px 15px 5px;
    background-color: #4f03ff;
    color: #fff;
    border: none;
    border-radius:20px;
    cursor: pointer;
    font-weight: bolder;
}

.SearchBarContainer .SearchButton{
    margin-left: 10px;
}

@media screen and (min-width: 412px) and (max-width: 1140px) {
    .SearchBarContainer .SearchButton{
        margin: 5px;
        width: 100px;
    }
}