.CardContainer {
    border: solid 1px #8B8B8B;
    border-radius: 10px;
    display: flex;
    max-width: 100%; 
    margin:0px 10px 10px 10px;
    justify-content: center;
    align-items: center;
}

.HotelImageContainer {
    width:40%;
    display: flex;
}

.HotelImageContainer img {
    width:80%;
    padding: 0px;
}

.CardContainer img {
    padding: 10px;
}

.CardContainer h2{
    font-weight: bolder;
    font-size: large;
    border:2 px solid black;
}

.CardContainer h3{
    font-weight: normal;
    font-size: medium;
    padding-top: 10px;
}

.HotelCardDetails{
    width:60%;
    display: flex;
    flex-direction: column;
    align-items: start;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.Rating{
    margin-top: 50px;
}

.CardContainer .Price{
    font-weight: bold;
    padding-top: 10px;
}

.BookButton{
    margin-top: 5px;
}

@media screen and (min-width: 412px) and (max-width: 600px) {
    .CardContainer {
        margin:0px;
        width: 100%;
        justify-content: space-between;
        padding:5px;
    }

    .CardContainer h2{
        font-size: small;
       
    }
    .CardContainer h3{
        font-size: small;
        padding-top: 5px;
    }

    .Rating{
        margin-top: 20px;
    }

    .HotelImageContainer {
        width:40%;
    }

    .HotelImageContainer img {
        width:100%;
        padding: 0px;
    }

    .HotelCardDetails {
        align-items: start;
        padding-left: 10px;
    }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
    .CardContainer {
        width: 100%;
        justify-content: space-between;
        padding:10px;
    }

    .CardContainer h2{
        font-size: medium;
       
    }
    .CardContainer h3{
        font-size: medium;
        padding-top: 10px;
    }

    .HotelImageContainer {
        width:40%;
    }

    .HotelImageContainer img {
        width:100%;
        padding: 0px;
    }

    .HotelCardDetails {
        align-items: start;
        padding-left: 10px;
    }
}

@media screen and (min-width: 700px) and (max-width: 1000px){
    .CardContainer {
        width: 100%;
        justify-content: space-between;
        padding:10px;
    }

    .CardContainer h2{
        font-size: medium;
       
    }
    .CardContainer h3{
        font-size: medium;
        padding-top: 10px;
    }

    .HotelImageContainer {
        width:40%;
    }

    .HotelImageContainer img {
        width:100%;
        padding: 0px;
    }

    .HotelCardDetails {
        align-items: start;
        padding-left: 10px;
    }

}