.Results{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    margin:40px;
}

.CardResultsContainer {
    flex-direction: column;
    width:70%;
    justify-content: start;
    align-items: flex-end;
    margin-left:40px;
}


.CardResultsContainer p{
    font-size: large;
    font-weight: bolder;
}

.Filters{
    width: 35%;
    height: 70%;
    border: solid 1px #8B8B8B;
    border-radius: 10px;
}

.ResultsContainer{
    display: flex;
    width:80%;
    margin-top: 30px;
}
