.BookingReservation{
    display: flex;
    margin: 20px;
}

.ReservationForm{
    width:70%;
    margin: 30px;
}

.ReservationDetails{
    width: 30%;
    margin: 30px;
}

.Buttons{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.ReservationForm h2{
    margin-bottom: 15px;
}

@media screen and (min-width: 412px) and (max-width: 800px) {
    .ReservationDetails{
        display: none;
    }

    .BookingReservation{
        margin: 0px;
    }

    .ReservationForm {
        width: 100%;
        margin: 20px;
    }

    .Passport, .EmailVoucher{
        width: 100% !important;
    }
}