.BookingReservation{
    display: flex;
    margin: 20px;
}

.ReservationForm{
    width:70%;
    margin: 30px;
}

.ReservationDetails{
    width: 30%;
    margin: 30px;
}

.Buttons{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.ReservationForm h2{
    margin-bottom: 15px;
}